.intro{
  span.disappear{
    opacity: 0;
  }

  &-start.active{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ascii-art, p {
      opacity: 0;
    }

    .cta{
      margin-top: 1rem;
    }
  }

}

.ascii-art{
  margin-bottom: 1rem;
}
