.window{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: none;


  &.active{
    display: block;
  }

  .btn-download{
    z-index: 1000;
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: $grey-op;
    padding: 0.5rem 0.6rem;
    border-radius: 50px;
    transition: all ease-in-out .3s;

    i{
      font-family: "FontAwesome";
      color: $full-white;
    }

    &:hover{
      scale: 1.15;
    }
  }

  iframe{
    // TODO : breaking point
    width: 700px;
    height: 680px;
    opacity: 0.95;
    border-radius: 0 0 10px 10px;
    background-color: $dark-blue;
  }
}
